Flask~=2.3.3
Flask_PyMongo==2.3.0
joblib==1.3.2
PyJWT==2.10.0
pymongo==4.10.1
python-dotenv==1.0.1
Werkzeug~=2.3.8
pycaret==3.3.2
dnspython
pyopenssl
gunicorn
flask_sqlalchemy
psycopg2-binary
Flask-Migrate~=4.0.7
pandas~=2.1.4
SQLAlchemy~=2.0.36
scipy~=1.11.4