<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DiabeteAlert</title>
  <link href="{{ url_for('static', filename='dashboard/images/logos/logoweb.png') }}" rel="shortcut icon" type="image/png">
  <link href="{{ url_for('static', filename='dashboard/css/styles.min.css') }}" rel="stylesheet">
</head>

<body>
  <!-- Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="{{ url_for('web.index') }}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{{ url_for('static', filename='dashboard/images/logos/logoweb.png') }}" width="180" alt="">
                </a>
                <p class="text-center">Your Social Campaigns</p>

                <!-- Bloc des messages flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }} flash-message alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                <form method="POST" action="{{ url_for('web.register') }}">
                  <!-- Champ Name -->
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      value="{{ form_data.get('name', '') }}"
                      required>
                  </div>

                  <!-- Champ Email -->
                  <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      value="{{ form_data.get('email', '') }}"
                      required>
                  </div>

                  <!-- Champ Password -->
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      value="{{ form_data.get('password', '') }}"
                      required>
                  </div>

                  <!-- Champ Confirm Password -->
                  <div class="mb-4">
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="confirm_password"
                      name="confirm_password"
                      value="{{ form_data.get('confirm_password', '') }}"
                      required>
                  </div>

                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" style="background-color: #2596be;">Sign Up</button>
                      <div class="d-flex align-items-center justify-content-center">
                        <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                        <a class="text-primary fw-bold ms-2" href="{{ url_for('web.login') }}">Sign In</a>
                      </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  setTimeout(function() {
    var flashMessages = document.querySelectorAll('.flash-message');
    flashMessages.forEach(function(message) {
      message.style.display = 'none'; // Cacher le message
    });
  }, 3000); // Délai de 3 secondes
</script>
  <script src="{{ url_for('static', filename='dashboard/libs/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dashboard/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>