<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DiabeteAlert</title>
  <link href="{{ url_for('static', filename='dashboard/images/logos/logoweb.png') }}" rel="shortcut icon" type="image/png">
    <link href="{{ url_for('static', filename='dashboard/css/styles.min.css') }}" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    {% block sidebar %}
      {% include 'sidebar.html' %}
    {% endblock %}

    <!--  Main wrapper -->
    <div class="body-wrapper">
      {% block navbar %}
        {% include 'navbar.html' %}
      {% endblock %}
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Sales Overview</h5>
                <canvas id="statsChart" width="400" height="200"></canvas>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-flex flex-column">
            <div class="card mb-4">
              <div class="card-body text-center">
                <h5 class="card-title fw-semibold">Patients Non-Diabétiques</h5>
                <h4 class="fw-bold text-success mb-2">{{ non_diabetic_count }}</h4>
                <p class="fs-5">Total des patients</p>
                <div class="bg-success text-white rounded-circle p-4 mx-auto d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                  <i class="ti ti-user-check fs-4"></i>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title fw-semibold">Patients Diabétiques</h5>
                <h4 class="fw-bold text-danger mb-2">{{ diabetic_count }}</h4>
                <p class="fs-5">Total des patients</p>
                <div class="bg-danger text-white rounded-circle p-4 mx-auto d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                  <i class="ti ti-user-minus fs-4"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Patient Information</h5>
                    <div class="table-responsive" style="width: 140%;">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                <th>#</th>
                                <th>Pregnancies</th>
                                <th>Glucose</th>
                                <th>Blood Pressure</th>
                                <th>Skin Thickness</th>
                                <th>Insulin</th>
                                <th>BMI</th>
                                <th>Pedigree</th>
                                <th>Age</th>
                                <th>Diabetes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patient_data %}
                            <tr>
                                <td>{{ patient.id }}</td>
                                <td>{{ patient.pregnancies }}</td>
                                <td>{{ patient.glucose }}</td>
                                <td>{{ patient.blood_pressure }}</td>
                                <td>{{ patient.skin_thickness }}</td>
                                <td>{{ patient.insulin }}</td>
                                <td>{{ patient.bmi }}</td>
                                <td>{{ patient.pedigree }}</td>
                                <td>{{ patient.age }}</td>
                                <td>
                                    <span class="badge {{ 'bg-danger' if patient.is_diabetic == 'Yes' else 'bg-success' }}">
                                        {{ 'Yes' if patient.is_diabetic == 'Yes' else 'No' }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xl-3">
            <div class="card overflow-hidden rounded-2">
              <div class="position-relative">
                <a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='dashboard/images/products/s4.jpg') }}" class="card-img-top rounded-0" alt="..." />
                </a>
                <a href="javascript:void(0)" class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart"><i class="ti ti-basket fs-4"></i></a>                      </div>
              <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">Boat Headphone</h6>
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="fw-semibold fs-4 mb-0">$50 <span class="ms-2 fw-normal text-muted fs-3"><del>$65</del></span></h6>
                  <ul class="list-unstyled d-flex align-items-center mb-0">
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="card overflow-hidden rounded-2">
              <div class="position-relative">
                <a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='dashboard/images/products/s5.jpg') }}" class="card-img-top rounded-0" alt="..." />
                </a>
                <a href="javascript:void(0)" class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart"><i class="ti ti-basket fs-4"></i></a>                      </div>
              <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">MacBook Air Pro</h6>
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="fw-semibold fs-4 mb-0">$650 <span class="ms-2 fw-normal text-muted fs-3"><del>$900</del></span></h6>
                  <ul class="list-unstyled d-flex align-items-center mb-0">
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="card overflow-hidden rounded-2">
              <div class="position-relative">
                <a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='dashboard/images/products/s7.jpg') }}" class="card-img-top rounded-0" alt="..." />
                </a>
                <a href="javascript:void(0)" class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart"><i class="ti ti-basket fs-4"></i></a>                      </div>
              <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">Red Valvet Dress</h6>
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="fw-semibold fs-4 mb-0">$150 <span class="ms-2 fw-normal text-muted fs-3"><del>$200</del></span></h6>
                  <ul class="list-unstyled d-flex align-items-center mb-0">
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="card overflow-hidden rounded-2">
              <div class="position-relative">
                <a href="javascript:void(0)"><img src="{{ url_for('static', filename='dashboard/images/products/s11.jpg') }}" class="card-img-top rounded-0" alt="..." /></a>
                <a href="javascript:void(0)" class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add To Cart"><i class="ti ti-basket fs-4"></i></a>                      </div>
              <div class="card-body pt-3 p-4">
                <h6 class="fw-semibold fs-4">Cute Soft Teddybear</h6>
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="fw-semibold fs-4 mb-0">$285 <span class="ms-2 fw-normal text-muted fs-3"><del>$345</del></span></h6>
                  <ul class="list-unstyled d-flex align-items-center mb-0">
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="me-1" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                    <li><a class="" href="javascript:void(0)"><i class="ti ti-star text-warning"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">AdminMart.com</a></p>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='dashboard/libs/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dashboard/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dashboard/js/sidebarmenu.js') }}"></script>
  <script src="{{ url_for('static', filename='dashboard/js/app.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dashboard/libs/apexcharts/dist/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dashboard/libs/simplebar/dist/simplebar.js') }}"></script>
  <script src="{{ url_for('static', filename='dashboard/js/dashboard.js') }}"></script>
<!-- jQuery (DataTables dépend de jQuery) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
        $(document).ready(function() {
            $('table').DataTable({
                "pageLength": 10 // Affiche 10 éléments par page
            });
        });
    </script>

<script>
    // Récupérer les données depuis Flask (passées via render_template)
    const diabeticCount = {{ diabetic_count }};
    const nonDiabeticCount = {{ non_diabetic_count }};

    const ctx = document.getElementById('statsChart').getContext('2d');
    const statsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Diabétiques', 'Non-Diabétiques'],
            datasets: [{
                label: 'Nombre de Patients',
                data: [diabeticCount, nonDiabeticCount],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',  // Diabétiques
                    'rgba(75, 192, 192, 0.5)'   // Non-Diabétiques
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</body>

</html>